@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cairo:wght@200;400;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Anton', sans-serif;
  font-family: 'Cairo', sans-serif;
}
#logo {
  text-transform: uppercase;
  font-size: 2rem;
  color: #d9534f;
  font-weight: 900;
}
